.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  
}

body{
  background-color: #59C3C3;
  margin: 0;
  padding: 0;
}

.addinput{
  background: transparent;
  width: 250px;
  height: 40px;
  border-radius: 25%;
  background-color: transparent;
  border: 3px solid whitesmoke;
  font-weight: bold;
  font-family: monospace;
  border-radius: 20px;
  padding: 6px 15px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;

}
.addTask{
  height: 30vh;
  background-color: blueviolet;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  /* border:  1px solid red ; */
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.name{
  /* border:  1px solid red ; */
  width: 50%;
}
.task {
  width: 100%;
  height: 50px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

  /* .task button {
    width: auto;
    height: 20px;
    margin-left: 5px;
    text-align: center;
  } */
 
.done,.x{
  margin: 3px;
  /* background-color: white; */
  background-color: transparent;
  border: 3px solid whitesmoke;
  font-weight: bold;
  font-family: monospace;
  border-radius: 20px;
  padding: 6px 15px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  height: 40px;
  width: 100px;
}
.x:hover,.done:hover,.adder:hover{
  background: black;
  color: white;
}
.adder{
  margin: 3px;
  /* background-color: white; */
  background-color: transparent;
  border: 3px solid whitesmoke;
  font-weight: bold;
  font-family: monospace;
  border-radius: 20px;
  padding: 6px 15px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  height: 40px;
  width: 100px;
}
